# Zookeeper
ZOOKEEPER_CLIENT_PORT=2181
ZOOKEEPER_TICK_TIME=2000

# Kafka
KAFKA_BROKER_ID=1
KAFKA_ZOOKEEPER_CONNECT=zookeeper:2181
KAFKA_LISTENERS=PLAINTEXT://0.0.0.0:9092
KAFKA_ADVERTISED_LISTENERS=PLAINTEXT://kafka:9092
KAFKA_INTER_BROKER_LISTENER_NAME=PLAINTEXT
KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR=1
KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR=1
KAFKA_TRANSACTION_STATE_LOG_MIN_ISR=1


KAFKA_BROKER=kafka:9092
SCHEMA_REGISTRY_URL=http://schema-registry:8081
SPECIFIC_AVRO_READER=true

# Schema registry
SCHEMA_REGISTRY_KAFKASTORE_BOOTSTRAP_SERVERS=PLAINTEXT://kafka:9092
SCHEMA_REGISTRY_HOST_NAME=schema-registry
SCHEMA_REGISTRY_LISTENERS=http://0.0.0.0:8081
SCHEMA_REGISTRY_GROUP_ID=schema-registry-group

# Sale API DB
SPRING_JPA_HIBERNATE_DDL_AUTO=create-drop
SPRING_JPA_DATABASE_PLATFORM=org.hibernate.dialect.PostgreSQLDialect
SPRING_JPA_SHOW_SQL=true
SPRING_DATASOURCE_URL=jdbc:postgresql://sale-db:5432/sale_db
SPRING_DATASOURCE_DRIVER_CLASS_NAME=org.postgresql.Driver
SPRING_DATASOURCE_USERNAME=sale_user
SPRING_DATASOURCE_PASSWORD=sale_password

# ML Forecast DB
ML_FORECAST_DB_NAME=ml_forecast
ML_FORECAST_DB_USER=ml_user
ML_FORECAST_DB_PASSWORD=ml_pass
ML_FORECAST_DB_HOST=ml-forecast-db
ML_FORECAST_DB_PORT=5432

# ML Forecast API Kafka
ML_FORECAST_KAFKA_GROUP_ID=ml-forecast-consumer-group
REDIS_HOST=redis://redis:6379/0

