ML_FORECAST_DB_NAME=ml_forecast
ML_FORECAST_DB_USER=ml_user
ML_FORECAST_DB_PASSWORD=ml_pass
ML_FORECAST_DB_HOST=ml-forecast-db
ML_FORECAST_DB_PORT=5432

KAFKA_BROKER=kafka:9092
ML_FORECAST_KAFKA_GROUP_ID=ml-forecast-consumer-group
SCHEMA_REGISTRY_URL=http://schema-registry:8081

REDIS_HOST=redis://redis:6379/0

